html{
    background-color: #f1f1f1;
}
form{
    border: #f1f1f1;
}
/*body{*/
/*    background-color: white;*/
/*    position: center;*/
/*    vertical-align: center;*/

/*}*/

.Login-start{
    position: relative;
    right: 25%;
    left: 25%;
    margin-top: 10%;
    width: 50%;

}

.error {
    border: 1px solid red;
}