.profileCard {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 40%;
    height: 50%;
}
.striped-border {
    border: 1px dashed #000;
    width: 100%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}