.filter-items{
    width: max-content;
}
.categories-button{
    display: inline-block;
    width: max-content;
    text-align: center;
}
.btn-group-vertical{
    width: 80%;
}
.categories {
    margin-bottom: 30px;
}