.Categories{
    margin-top: 21%;
    width: 15%;
    margin-left: 5%;
    float: left;
}

.RestaurantDetail{
    margin-top: 13%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    overflow-x: hidden;
    float: right;
}