body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}


nav li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: red;
}

li a:hover:not(.active) {
  background-color: #d3d3d3;
}


nav {
  float: left;
  width: 100%;
  /*background: red;*/
  padding: 5px;
}

.Categories {
  float: left;
  width: 30%;
}



section:after {
  content: "";
  display: table;
  clear: both;
}

.link {
  background-color: transparent;
}

.error {
  border: 1px solid red;
}

a.active {
  background-color: #6c757d;
  border: 1px solid black;

}
