.card:hover {
    opacity: 2;
    background-color: #9fcdff;

}
.box{
    display: grid;

    grid-template-columns: repeat(2, 1fr);

    grid-auto-rows: auto;

    grid-gap: 1rem;
}
/*.Jumbotron{*/
/*    background-image: url("https://www.artsclip.com/background/XZHaFAgbeP-food-slides.jpg");*/
/*    background-size: cover;*/
/*    background-repeat: no-repeat;*/

/*}*/
