.card:hover {
    opacity: 2;
    background-color: #9fcdff;

}
body{
    background-color: #f1f1f1;
}
.box{
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    grid-auto-rows: auto;

    grid-gap: 5rem;
}
.dsc{
    white-space: nowrap;
    overflow: auto;
    text-overflow: ellipsis;
}
.Jumbotron{
    margin-top: 50px;
}
h2{
    text-transform: uppercase;
    text-decoration: underline;
}
.card-image{
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 22rem;
    height: 22rem;
}

.menu-container {
    margin-bottom: 32px;
}

