.userCard{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    float: top;
    transition: 0.3s;
    text-align: center;
    padding: 10px;
}
/* On mouse-over, add a deeper shadow */
.userCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.userContainer{
    background-color: white;
    padding: 2px 16px;
}